/* this media query is for the md screen size
for bootstrap grid.  basically when the screen
is >=768px */
@media (min-width: 768px){

.show-and-hide-nav {
    /* This makes my collapse nav show up
    when my screen is at a medium breakpoint
    this is so my nav can be collapsed when  */
    display: block!important;
}
}
.container-fluid{
    display: flex;
    height:100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("leaves.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
}
.search-bar{
    font-size: small;
    min-width: calc(100% - 100px);
    justify-self: flex-start;
}


#menu-wrapper{
display: flex;
justify-content: space-between;
}
.list-group-item.{
    z-index: 2;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-color: none;
    
}
.list-group-item:hover {
    background-color: #D3D3D3;
  }

.row{
    padding-top: 40px;
}
.btn-warning{
    margin-bottom: 10px;
    border-radius: 20px;
    background: linear-gradient(to right, #1f7a06, #289b09);
    outline: none;
}
.message-box{
    box-shadow: #180707;
}
.col-menu{
    background-color: #FFF;
    border-radius: 10px;
    min-width: fit-content;
}
.col-messages{
    background-color: #FFF;
    border-radius: 10px;
    min-width: fit-content
    padding-left:fit-content

}

.profile{
    padding: 15px;
    
}
.list-item-date{
    float: right;
    padding-bottom: 25px;
}
.btn-close{
    float: right;
 
}
.btn-send{
    padding-right: 20px;
    margin-left: 0px;
}
.btn-composer-tabs{
    
}