/* this media query is for the md screen size
for bootstrap grid.  basically when the screen
is >=768px */
@media (min-width: 768px){
    .col-menu{
        margin-left: 8px;
    }
.show-and-hide-nav {
    /* This makes my collapse nav show up
    when my screen is at a medium breakpoint
    this is so my nav can be collapsed when  */
    display: block!important;
}
.pencil-square{
    display: none;
}
.col-new-message{
    padding-top: 100px;
}
}
@media (min-width: 577px) and (max-width: 767px) {
    .pencil-square{
        display: none;
    }  
}
@media (max-width: 576px) {
    .btn-compose{
        display: none;
    }
    .profile {
      display: none;
    }
    .btn-warning{
        float: right;
        margin-right: 155px;
       padding-left: 25px;
       padding-right: 25px;
       align-items: center;
        
    }
    .welcome-user{
        display: none;
    }
    .col-menu{
        margin-right: 100px;
    }
  }
.container-fluid{
    display: flex; 
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("leaves.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    
}
.search-bar{
    font-size: small;
    min-width: calc(100% - 100px);
    justify-self: flex-start;
    padding-top: 5px;
}


#menu-wrapper{
display: flex;
justify-content: space-between;
}
.list-group-item.{
    z-index: 2;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-color: none;
    
}
.list-group-item:hover {
    background-color: #D3D3D3;
  }

.row-w100{
   justify-content: space-between;
}
.btn-warning{
    margin-bottom: 10px;
    border-radius: 20px;
    background: linear-gradient(to right, #325c32ed, #4c8e4ced);
    outline: none;
    color: white;
}

.message-box{
    box-shadow: #180707;
}
.col-menu{
    background-color: #FFF;
    border-radius: 10px;
    /*min-width: fit-content;*/
   margin-right: 8px;
   
}
.col-messages{
    background-color: #FFF;
    border-radius: 10px;
   /* min-width: fit-content
    padding-left:fit-content*/
    margin-left: 4px;
}
.col-new-message{
    margin-left: 4px;
    
}
.user-pic {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
  }

.profile{
    padding-bottom: 15px;
    
}
.list-item-date{
    float: right;
    padding-bottom: 25px;
}
.btn-close{
    float: right;
 
}
.btn-send{
    margin-right: 20px;
    margin-left: 0px;
}
@media only screen and (max-width: 600px) {
    .profile {
      hidden
    }
  }